main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color:beige;
    margin: 25px;
    height: 600px;
    width: 340px;


    &__display-input {
        padding: 20px;
        align-self: flex-end;
        font-size: 25px;
        text-align: right;
        width: 100%;
        
        
    }

    &__answer {
        padding: 20px;
        font-size: 50px;
        
        align-self: flex-end;
        text-align: right;
        width: 100%;
    }

    &__user-input {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        width: 90%;
        height: 90%;
        margin: 20px;
        justify-items: center;
        align-items: center;
        grid-template-areas:
          "a b c d"
          "e f g h"
          "i j k l"
          "m n o p"
          "q r t s";

        &__input {
            background-color: aqua;
            font-size: 30px;
            border-radius: 50px;
            height: 70px;
            width: 70px;
  
        }
    }
      
    .clear { grid-area: a;}
    .add\/minus { grid-area: b; }
    .percentage { grid-area: c; }
    .divide { grid-area: d; }
    .seven { grid-area: e; }
    .eight { grid-area: f; }
    .nine { grid-area: g; }
    .multiply { grid-area: h; }
    .four { grid-area: i; }
    .five { grid-area: j; }
    .six { grid-area: k; }
    .minus { grid-area: l; }
    .one { grid-area: m; }
    .two { grid-area: n; }
    .three { grid-area: o; }
    .plus { grid-area: p; }
    .zero { grid-area: q; }
    .decimal { grid-area: r; }      
    .equal { grid-area: s; }
    .delete {grid-area: t;}
    .zero { grid-area: q;}
}